@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <p>Your name:@Html.TextBoxFor(r => r.Name)</p>
        <p>Your email:@Html.TextBoxFor(r => r.Email)</p>
        <p>Your phone:@Html.TextBoxFor(r => r.Phone)</p>
        <p>
            Will you attend?
            @Html.DropDownListFor(r => r.WillAttend, new[] {
           new SelectListItem() {  Text="yes,I'll be there", Value=bool.TrueString},
            new SelectListItem() {  Text=" no,I can't come", Value=bool.FalseString}
            }, "choose an option")
            <input type="submit" value="Submit RSCP" />
        </p>
    }
    @*<script>
            alert(typeof document.getElementById('WillAttend').options[0].value);
        </script>*@
</body>
</html>
