
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActionName</title>
</head>
<body>
    <div>The controller is: @ViewBag.Controller</div>
    <div>The action is: @ViewBag.Action</div>
    <div>
        @Html.ActionLink("this is a  outgoing url.", "CustomVariable", new { id = "Hello" })
    </div>
    <div>
        @Html.ActionLink("this is another controller.", "Index", "Customer")
    </div>
</body>
</html>
